@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    margin: none;
    background-color: #706E64;
}

.invite {
    position: absolute;
    width: 100vw;
    height: 235px;
    left: 0px;
    top: 99px;
    background: #1B1B1B;
}

.invite>p {
    position: absolute;
    width: 477px;
    height: 160px;
    left: 148px;
    top: 54px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #FFFFFF;
}

/* /* /* (A) WRAPPER */
#quizWrap {
    max-width: 80vw;
    margin: 0 auto;
    /* RECOMMENDED FIXED HEIGHT IF YOU HAVE CONTENT BELOW THE QUIZ */
    /* SO THAT PAGE LAYOUT DOES NOT "JUMP" */
    /* height: 250px; */

}

/* (B) QUESTION */
#quizQn {
    padding: 20px;
    background: #ffffff;
    font-size: 24px;
    border-radius: 10px;
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

/* (C) ANSWERS */
#quizAns {
    margin: 10px 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

#quizAns input[type=radio] {
    display: none;
}

#quizAns label, #quizAns > input  {
    background: #fafafa;
    border: 2px solid black;
    border-radius:30px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

#quizAns > input  {
    margin: auto;
}

#quizAns label.correct {
    background: #14D84B;
    border: 1px solid #14D84B;
    color: #fff;
}

#quizAns label.wrong {
    background: #EC2656;
    border: 1px solid #EC2656;
    color: #fff;
}

/* (X) DOES NOT MATTER - COSMETICS */
/* PAGE & BODY */

.quizContainer{
    display: flex;
    
    width: 100vw;
    height: 400px;
    position: absolute;
    left: 0px;
    top: 334px;
    justify-content:center;
}
.quizRA {
    display: flex;
	flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin: auto;
    
    /* background-image: url(https://images.unsplash.com/photo-1554034483-04fda0d3507b?crop=entropy&cs=srgb&fm=jpg&ixid=MnwxNDU4OXwwfDF8cmFuZG9tfHx8fHx8fHx8MTY0ODAwMTA1MQ&ixlib=rb-1.2.1&q=85); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* position: absolute;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    left: 0px;
    top: 334px;*/
    width: wrap;
    background-color: white;
}

/* WIDGET */
.widget-wrap {
    width: 600px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
}

/* FOOTER */
#code-boxx {
    font-weight: 600;
    margin-top: 30px;
}

#code-boxx a {
    display: inline-block;
    border: 0;
    padding: 5px;
    text-decoration: none;
    background: #b90a0a;
    color: #fff;
}

.footer {
    margin: 0 auto;
    position: absolute;
    width: 100vw;
    height: 342px;
    left: 0px;
    top: 400px;
    background: #D3FA3A;
}


#btnQuiz {
    background-color: #D3FA3A;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    height: 40px;
    border-radius: 8px;
    border:0px;
}

#btnQuiz:hover {

    background-color: #93AF28;
}

#quizAns label:hover  {
    border-color: #D3FA3A;

}

#quizhAns2{
    margin: 10px 0;
    grid-gap: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    justify-content: center;

    color: #000000;
}

#quizhAns2 > input{

    background: #1B1B1B;
    color: #fff;
    border: 2px solid #1B1B1B;
    border-radius:8px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;

}

.questionNumber{
    display: inline;
    background-color: #D3FA3A;
    border: 5px solid #D3FA3A;
    margin-right: 5px;
}